@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-border {
  border-radius: 9999px;
  position: relative;
  background: white; /* Or your desired background */
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 8px; /* Border width */
  background: linear-gradient(45deg, #5AF2B2, #0095ff);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border2 {
  position: relative;
  background: #363636; /* Or your desired background */
  border-radius: 12px;
}

.gradient-border2::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px; /* Border width */
  background: linear-gradient(45deg, #5AF2B2, #0095ff);
  border-radius: 12px;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Slide in from the right */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Apply the slide animation when 'click' is true */
.slide-animation {
  animation: slideIn 0.5s ease-in-out forwards;
}

/* Apply the slide-out animation when 'click' is false */
.slide-animation-exit {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slide {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-90%);
  }
}

.sliding-list {
  display: flex;
  animation: slide 60s linear infinite;
  white-space: nowrap;
}

.sliding-list li {
  flex: 0 0 auto; /* Prevents items from shrinking */
  list-style-type: none;
}

.container {
  width: 100%;
  overflow: hidden;
}
